# Python
*.pyc
*.pyo
__pycache__/
venv/
env/
*.env
*.pkl
*.db

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# IDEs
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log

# Build files
/dist
/build

# Jupyter Notebooks
.ipynb_checkpoints

# .env or similar for sensitive information
.env
